<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="INFO">

	<Appenders>
		<RollingFile name="CommonFile" fileName="common.log" filePattern="common_%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%highlight{[%5p] (%t) %d [%c{1.}:%M:%L] - %m%n}" />
			<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		</RollingFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p] (%t) %d [%c{1.}:%M:%L] - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>

		<Logger name="net.iakko" level="INFO" additivity="true">
			<AppenderRef ref="CommonFile" />
		</Logger>
	</Loggers>

</Configuration>